<section id="livescores">
	<div class="container ">
		<div class="row text-center col-sm-10 col-sm-offset-1 green">
			<h3>Live Scores</h3>
		</div>
		<div class="row col-sm-10 col-sm-offset-1 bg-light-gray">			
			<% @cricket['data']['data'].each do |match|  %>
				<div class="col-sm-6 cl-match-box">
					<%= match['description'].html_safe %>
				</div>
			<% end%>		
		</div>
	</div>
</section>